<header class="masthead" style="background-image: url(&quot;img/libro.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="post-heading">
                    <h1 class="text-center">Catálogo de Libros</h1>
                    <span class="text-center meta">The World in Your Hands</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Destacado</h2>
            <p class="text-center">Vamos a mostrar los libros con mejor calificación hasta el momento</p>
        </div>

        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <figure class="figure">
                        <figcaption class="figure-caption text-center" id="Libro1" style="padding: 10px;width: 250px;">Libro No.1</figcaption>
                    </figure>
                    <img style="width: 250px;height: 249px;margin: 5px;padding: 10px;" src="img/about-bg.jpg">
                    <a id="Libro1" class="learn-more" style="margin: 15px;" href="#">Leer Más »</a>
                </div>
            </div>
        </div>
    </div>
</div>

<article></article>
<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>