<header class="main-header">
    <div class="background-overlay text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8">
                    <div class="post-preview">
                        <h2 class="post-title">Descripción Proyecto</h2>
                        <h3 class="post-subtitle">El proyecto Librows presenta un aplicativo fácil y dinámico que nos muestre los libros más visitados por la comunidad, con una reseña y/o sugerencia de los mismos. Al mismo tiempo la comunidad puede colaborar con la plataforma
                        subiendo libros de su interés y recomendarlos a los nuevos usuarios.</h3>
                    </div>
                    
                    <hr style="background-color: white;">

                    <div class="post-preview">
                        <h2 class="post-title" >Misión</h2>
                        <p><h3>Conocer y relacionar diferentes libros en una sola plataforma, con sus diferentes actividades relacionadas en la misma. Dar a conocer el sistema de recomendación y/o sugerencias por parte de los usuarios, incluyendo el subir diferentes libros para apoyar a la plataforma.</em><br></h3>
                    </div>

                    <hr style="background-color: white;">
                    
                    <div class="post-preview">
                        <h2 class="post-title">Visión</h2>
                        <p><h3>Planear la construcción de la plataforma con una base de datos de los libros más descargados, más recomendados y que esta se reconozca a nivel nacional e internacional, en un plazo de 2 años.</em><br></h3>
                    </div>
                        
                    <hr style="background-color: white;">
                        
                    <div class="clearfix"></div>
                </div>
        
                <div class="col">
                    <label id="signUp" class="text-center">¿Aún no te has registrado? Hazlo Aquí:</label>
                    <form action="/" class="border rounded-0" style="width: 350px;" method="POST">
                        <label style="margin: 0px 5px 0px;">Nombre:</label>
                        <input class="form-control" type="text" style="width: 320px;margin: 10px;" name="textNombres" placeholder="Escribe tu nombre(s) aqui...">
                        <label style="margin: 0px 5px 0px;">Apellido:</label>
                        <input class="form-control" type="text" style="width: 320px;margin: 10px;" name="textApellidos">
                        <label style="margin: 0px 5px 0px;">Nombre de usuario:</label>
                        <input class="form-control" type="text" style="width: 320px;margin: 10px;" name="textNombreUsuario">
                        <label style="margin: 0px 5px 0px;">Contraseña:</label>
                        <input class="form-control" type="text" style="width: 320px;margin: 10px;" name="textContraseña" placeholder="Example: 1035428341">
                        <label style="margin: 0px 5px 0px;">Correo:</label>
                        <input class="form-control" type="email" style="width: 320px;margin: 10px;" name="textCorreo" placeholder="Example1@mirros.com">
                        <button type="submit"class="btn btn-info" id="butRegistrar" style="width: 320px;margin: 10px;height: 35px;padding: 0px 0px;" type="button">Registrar</button>
                    </form>

                    <br>
                    <label id="signIn" class="text-center">Inicia Sesión:</label>
                    <form action="/" class="border rounded-0" style="width: 350px;" method="POST">
                        <label style="margin: 0px 5px 0px;">Nombre de usuario:</label>
                        <input class="form-control" type="text" style="width: 320px;margin: 10px;" name="textNombreUsuario" placeholder="Escribe tu nombre de usuario aqui...">
                        <label style="margin: 0px 5px 0px;">Contraseña:</label>
                        <input class="form-control" type="password" style="width: 320px;margin: 10px;" name="textContraseña">
                        <button type="submit" class="btn btn-info" id="butRegistrar" style="width: 320px;margin: 10px;height: 35px;padding: 0px 0px;" type="button">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>