<br>
<div class="container"> 
     <div class="row d-flex h-100">
        <div class="col-sm-4">
            <img src="{{book.imagen}}" class="img-fluid d-none d-sm-block" height="300" width="300">
        </div>

        <div class="col-sm-8">
            <br> <br> <br>
            <h1>Titulo: {{book.nombre}}</h1>
            <br>
            <h1>Autor: {{book.autor}}</h1>
            <br>
            <h1>Genero: {{book.genero}}</h1>
            <br>
            <h1>Puntaje:</h1>
        </div>
     </div>
</div>

<div class="container p-4">
    <h2>Ultimos libros agregados:</h2>
    <br>
    <div class="row">
       
    </div>
</div>