<header class="masthead" style="background-image:url('/img/home-bg.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="site-heading">
                    <h1>Librows</h1><span class="subheading">Intelligent &amp; Accesible</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8">
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">Descripción Proyecto</h2>
                    <h3 class="post-subtitle">El proyecto Librows presenta un aplicativo fácil y dinámico que nos muestre los libros más visitados por la comunidad, con una reseña y/o sugerencia de los mismos. Al mismo tiempo la comunidad puede colaborar con la plataforma
                    subiendo libros de su interés y recomendarlos a los nuevos usuarios.</h3>
                </a>
            </div>
            
            <div class="post-preview"><a href="#"></a></div>

            <hr>

            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">Misión</h2>
                    <p class="text-dark"><em>Conocer y relacionar diferentes libros en una sola plataforma, con sus diferentes actividades relacionadas en la misma. Dar a conocer el sistema de recomendación y/o sugerencias por parte de los usuarios, incluyendo el subir diferentes libros para apoyar a la plataforma.</em><br></p>
                </a>
            </div>

            <hr>
            
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">Visión</h2>
                    <p class="text-dark"><em>Planear la construcción de la plataforma con una base de datos de los libros más descargados, más recomendados y que esta se reconozca a nivel nacional e internacional, en un plazo de 2 años.</em><br></p>
                </a>
            </div>
                
            <hr>
                
            <div class="clearfix"></div>
        </div>
            
        <div class="col">
            <label class="text-center">¿Aún no te has registrado? Hazlo Aquí:</label>
            <form class="border rounded-0" style="width: 350px;">
                <label style="margin: 0px 5px 0px;">Nombre:</label>
                <input class="form-control" type="text" style="width: 320px;margin: 10px;" name="textNombre" placeholder="Escribe tu nombre(s) aqui..."><label style="margin: 0px 5px 0px;">Apellido:</label>
                <input class="form-control" type="text" style="width: 320px;margin: 10px;" name="textApellido" placeholder="Escribe tu apellido(s) aqui..."><label style="margin: 0px 5px 0px;">Cédula:</label>
                <input class="form-control" type="text" style="width: 320px;margin: 10px;" name="textCedula" placeholder="Example: 1035428341"><label style="margin: 0px 5px 0px;">Correo:</label>
                <input class="form-control" type="text" style="width: 320px;margin: 10px;" name="textCorreo" placeholder="Example1@mirros.com"><button class="btn btn-primary" id="butRegistrar" style="width: 320px;margin: 10px;height: 35px;padding: 0px 0px;" type="button">Registrar</button>
            </form>

            <br>

            <label class="text-center">Inicia Sesión</label>
            <form class="border rounded-0" style="width: 350px;">
                <label style="margin: 0px 5px 0px;">Nombre de usuario:</label>
                <input class="form-control" type="text" style="width: 320px;margin: 10px;" name="textNombre" placeholder="Escribe tu nombre de usuario aqui...">
                <label style="margin: 0px 5px 0px;">Contraseña:</label>
                <input class="form-control" type="password" style="width: 320px;margin: 10px;" name="textCorreo">
                <button class="btn btn-primary" id="butRegistrar" style="width: 320px;margin: 10px;height: 35px;padding: 0px 0px;" type="button">Registrar</button>
            </form>
        </div>
    </div>
</div>