<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.nombre}} {{user.apellido}}</h3>
                    <h4>{{user.nombreUsuario}}</h4>
                    <a href="/biblioteca" class="btn btn-primary m-4">
                        Libros guardados en biblioteca    
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br>