footer{
    background: greenyellow;
}

.main-header{
    background: url(../img/background.jpg);
    background-size: cover;
    min-height: 200px;
}

.background-overlay{
    background: rgba(186, 220, 88, .7);
}