<footer>
    <div class="container p-2">
        <div class="row text-center text-white">
          <div class="col ml-auto">
            <p>Copyright Librows &copy; 2019</p>
          </div>
        </div>
      </div>  
</footer>